<div class="center row-fluid">
  <p>
  <b>Name:</b>
    <%= @user.name %>
  </p>

  <p>
  <b>Email:</b>
    <%= @user.email %>
  </p>

  <p>
  <b>Phone:</b><br/>
    <% @user.phone_numbers.each do |pn| %>
      <%= "#{pn.label.text}: #{pn.number}" %><br/>
    <% end %>
  </p>

  <p>
  <%= link_to "Call", "tel://#{@user.phone_numbers.first.number}", class: "btn btn-large btn-primary" unless @user.phone_numbers.empty?%>
  </p>
  
  <%= link_to 'Edit', edit_user_path(@user) %> |
  <%= link_to 'Sign out', signout_path, method: "delete" %> |
  <%= link_to 'Back', root_path %>
</div>
