<style>
#locator {
    
}
</style>
<script type="text/javascript">
  $(document).ready(function() {
      var count = 0;
      setInterval(function () {
        if (navigator.geolocation) {
          navigator.geolocation.getCurrentPosition(showPosition);
        } else {
          $('#locator').html("??");
        }
      }, 3000);
      
      function showPosition(position) {
          $('#locator').html("Speed: " + (position.coords.speed == null ? "?" : position.coords.speed));
      }

  });
</script>

<div class="navbar navbar-static-top row-fluid">
  <div class="navbar-inner">
    <div class="container-fluid">
      <ul class="nav pull-left">
        <li><%= link_to "amblr", root_path, class: "brand" %></li>
      </ul><ul class="nav pull-right">
        <% if current_user.nil? %>
          <li><%= link_to "Sign in", signin_path %></li>
        <% else %>
          <li><%= link_to "m/s:", "#", id: "locator" %></li>
          <%= yield :navlinks %>
          <li><%= link_to "Sign out", signout_path, method: "delete" %></li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
